<div class="container py-5 text-white">

    <div>
        <a href=""><img src="./assets/noun_Parrot_2778164.png" width="90"
                alt="Parrot by Serhii Smirnov from the Noun Project">
            <span class="special-type display-4" style="color: #59FB79">ZeeZee db admin</span></a>
    </div>

    <!-- simple -->
    <div class="my-2 mx-5 px-5">
        <span class="h2">Add</span>
        <form>
            <div class="form-group">
                <label for="formGroupCardLabel">What would you like to add to the pictionary?</label>
                <input [(ngModel)]="newCard.word" name="word" type="text" class="form-control"
                    placeholder="A thing, an object, a fruit, an animal, whatever..." spellcheck="true"
                    data-ms-editor="true">
            </div>
            <div class="form-group">
                <input type="radio" [value]="0" name="level" [(ngModel)]="newCard.level"> Easy
                <input type="radio" [value]="1" name="level" [(ngModel)]="newCard.level"> Medium
                <input type="radio" [value]="2" name="level" [(ngModel)]="newCard.level"> Hard
            </div>
            <button type="button" class="btn btn-primary" (click)="addCard()">Add</button>
            <div *ngIf="isAddCardRequested" class="my-3">
                <div class="alert alert-info" role="alert">
                    {{ newCardAddRequestMessage }}
                </div>
            </div>
        </form>
    </div>

    <!-- batch -->
    <div class="my-5 mx-5 px-5">
        <span class="h2">Add many at once</span> <br />
        <form>
            <div class="form-group">
                <label for="formGroupWordLabel">Use , to separate multiple words</label>
                <input [(ngModel)]="batchWords" name="batchWords" type="text" class="form-control"
                    id="formGroupWordInput" placeholder="apple, mango, house, bridge, aeroplane, ..." spellcheck="true"
                    data-ms-editor="true">
            </div>
            <div class="form-group">
                <input type="radio" [value]="0" name="batchCardLevel" [(ngModel)]="batchCardLevel"> Easy
                <input type="radio" [value]="1" name="batchCardLevel" [(ngModel)]="batchCardLevel"> Medium
                <input type="radio" [value]="2" name="batchCardLevel" [(ngModel)]="batchCardLevel"> Hard
            </div>
            <button type="button" class="btn btn-primary" (click)="addCards()">Add All</button>
            <div *ngIf="isBatchCardsAddRequested" class="my-3">
                <div class="alert alert-info" role="alert">
                    <div *ngFor="let batcMessage of batchCardsAddRequestMessages; let i = index">
                        {{ i + 1 }} - {{ batcMessage }} <br />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- list -->
    <div class="my-5 mx-5 px-5">
        <span class="h2">List</span>
        <form>
            <div class="form-group">
                <label for="formGroupViewLabel">See what's inside the pictionary</label>
            </div>
            <button type="button" class="btn btn-primary" (click)="getAllCards()">View the dictionary</button>

            <table class="table text-white my-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Word</th>
                        <th>Level</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let card of cards; let i = index">
                        <th scope="row" *ngIf="!checkIfCardIsDeleted(card.id)">{{ i + 1 }}</th>
                        <td *ngIf="!checkIfCardIsDeleted(card.id)">{{ card.id }}</td>
                        <td *ngIf="!checkIfCardIsDeleted(card.id)">{{ card.word }}</td>
                        <td *ngIf="!checkIfCardIsDeleted(card.id)">{{ card.level }}</td>
                        <td *ngIf="!checkIfCardIsDeleted(card.id)"><button type="button" class="btn btn-link text-white" (click)="deleteCard(card.id)">remove</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</div>